{% extends 'page/details/inc/tabs.html.twig' %}

{% block details_tabs_longdescription_tab_name %}
    {{ parent() }}

    <li>
        <a href="#nutrition_facts" data-toggle="tab">{{ translate({ ident: "FACTS" }) }}</a>
    </li>
{% endblock %}

{% block details_tabs_longdescription %}
    {{ parent() }}

    <div id="nutrition_facts" class="tab-pane active" itemprop="nutrition_facts">
        {{ dump(oDetailsProduct.getNutritionFacts()) }}
    </div>
{% endblock %}